html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  background-image: url("http://wallpaper4me.com/images/wallpapers/desktop_tetris_w1.jpeg");
  background-size: 100%;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

figure {
  display: inline-block;
  border: 10px solid black;
  margin-top: 20px;
  border-color: #128fdc;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid;
  background-color: #404040;
}

#scoreboard {
  width: 200px;
  background-color: #128fdc;
  float: right;
  margin-left: 250px;
  margin-top: 100px;
  display: inline;
  position: absolute;
  color: white;
  border-radius: 5px;
  /*overflow: auto*/
}

#lines, #score {
  padding: 5px 10px;
  overflow: auto;
  margin: auto;
  background-color: black;
  margin: 5px 10px;
}

.board-left {
  float: left;
  padding: 5px;
  background-color: black;
}

.board-right {
  float: right;
  padding: 5px;
  background-color: black;
}
